# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
backend/questgen/modules/mcq_gen_package/._s2v_old
backend/questgen/modules/mcq_gen_package/s2v_reddit_2015_md.tar.gz
backend/questgen/modules/mcq_gen_package/s2v_old/._vectors
backend/questgen/modules/mcq_gen_package/s2v_old/vectors
