.registerwrap {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f7f8;
}
.linkreg{
  text-decoration: none;
}
.registersub {
  color: #1a3a5c;
  width: 100%;
  font-size: 30px;
  font-family: 'Mukta';
  text-align: left;
}
.backreg{
  color: #1a3a5c;
  text-decoration: underline;
  top: 0;
  cursor: pointer;
}

.inputsearch {
  border: none;
  width: 100%;
  color: #1a3a5C;
  padding-left: 5px;
  resize: none;
}
.inputsearch:focus {
  border: none;
  outline: none;
}

.gridding{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  
}
.gridinnerwrap{
  background: white;
  border: 1.5px solid lightgray;
  margin-top: 10px;
  cursor: pointer;
  transition: 150ms;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  color: gray;
}
.gridinnerwrap:hover{
  background-color: lightgray;
}
.inputsearchwrap {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #1a3a5c;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
}
.inputsearch::placeholder {
  color: #6c849d;
  opacity: 0.5;
}
.regbox {
  margin-top: 80px;
  width: 500px;
  height: 550px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: white;
  padding: 50px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.input {
  width: 100%;
}
.wordwrap {
  margin-top: 30px;
  display: flex;
  color: #6c849d;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 630px) {
  .regbox {
    width: 420px;
  }
}
.loginword {
  text-decoration: underline;
  color: #1a3a5c;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
}
.regbtn {
  background-color: #6c849d;
  border: 1px solid #6c849d;
  color: white;
  width: 170px;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  transition: 150ms;
  cursor: pointer;
}
.regbtn:hover {
  background-color: white;
  color: #6c849d;
}
.regwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
